---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./secret.sops.yaml
  - ./ocirepository.yaml
  - ./helmrelease.yaml
  - ./httproute.yaml
  - ./servicemonitor.yaml
  # Infrastructure dashboards
  - ./dashboard-cert-manager.yaml
  - ./dashboard-cilium-agent.yaml
  - ./dashboard-cilium-operator.yaml
  - ./dashboard-flux-cluster.yaml
  - ./dashboard-flux-control-plane.yaml
  - ./dashboard-kubernetes-api-server.yaml
  - ./dashboard-kubernetes-cluster.yaml
  - ./dashboard-kubernetes-views-global.yaml
  - ./dashboard-kubernetes-views-namespaces.yaml
  - ./dashboard-kubernetes-views-pods.yaml
  - ./dashboard-longhorn.yaml
  - ./dashboard-node-exporter.yaml
  - ./dashboard-talos-nodes.yaml
  # Application dashboards
  - ./dashboard-arr-stack.yaml
  - ./dashboard-dragonfly.yaml
  # Storage dashboards
  - ./dashboard-volsync.yaml
