---
# Static PV pointing to existing /books on NAS
apiVersion: v1
kind: PersistentVolume
metadata:
  name: kavita-books
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=4.1
    - hard
    - noatime
  nfs:
    server: "#{ nfs_server_addr }#"
    path: /books
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kavita-books
  namespace: entertainment
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""  # Empty to use static PV
  volumeName: kavita-books  # Bind to static PV above
  resources:
    requests:
      storage: 1Ti
