---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: prowlarr
  namespace: downloads
  labels:
    app.kubernetes.io/name: prowlarr
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: prowlarr
      app.kubernetes.io/instance: prowlarr
  endpoints:
    - port: metrics
      interval: 120s  # Longer interval for Prowlarr backfill
      path: /metrics
      scrapeTimeout: 60s  # Longer timeout
