---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./helmrelease.yaml
  - ./configmap.yaml
  - ./services-config.yaml
  - ./bookmarks-config.yaml
  - ./settings-config.yaml
  - ./widgets-config.yaml
  - ./serviceaccount.yaml
  - ./clusterrole.yaml
  - ./clusterrolebinding.yaml
