---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-settings
data:
  settings.yaml: |
    ---
    title: Home Lab
    favicon: https://gethomepage.dev/img/favicon.ico

    # Theme options: light, dark, auto
    theme: dark

    # Color scheme: slate, gray, zinc, neutral, stone, red, orange, amber, yellow, lime, green, emerald, teal, cyan, sky, blue, indigo, violet, purple, fuchsia, pink, rose
    color: slate

    # Header style: clean, boxed, underlined
    headerStyle: clean

    # Layout: columns, list
    layout:
      - Entertainment:
          style: row
          columns: 3
      - Downloads:
          style: row
          columns: 3
      - Cloud:
          style: row
          columns: 3
      - Development:
          style: row
          columns: 3
      - Home Automation:
          style: row
          columns: 3
      - Infrastructure:
          style: row
          columns: 3
      - Observability:
          style: row
          columns: 3

    # Hide version footer
    hideVersion: true
