---
apiVersion: v1
kind: Namespace
metadata:
  name: downloads
  labels:
    pod-security.kubernetes.io/enforce: baseline
    pod-security.kubernetes.io/audit: baseline
    pod-security.kubernetes.io/warn: baseline
    goldilocks.fairwinds.com/enabled: "true"
  annotations:
    kustomize.toolkit.fluxcd.io/prune: disabled
