---
apiVersion: v1
kind: Secret
metadata:
  name: forgejo-runner-secret
stringData:
  # Generate this token from the Forgejo admin UI after Forgejo is running:
  # Site Administration → Runners → Create new runner token
  registration-token: "#{ forgejo_runner_secret }#"
