---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storage

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./nfs-media-pv.yaml
  - ./nfs-nextcloud-pv.yaml
  - ./longhorn/ks.yaml
  - ./csi-driver-nfs/ks.yaml
  - ./seaweedfs/ks.yaml
  - ./s3manager/ks.yaml
  - ./volsync/ks.yaml
