---
# S3 credentials for CloudNativePG to backup PostgreSQL clusters to SeaweedFS.
# CNPG uses these credentials to connect to the SeaweedFS S3 API.
#
# Requires seaweedfs_s3_access_key_id and seaweedfs_s3_secret_access_key to be set
# in cluster.yaml after SeaweedFS bootstrap (see seaweedfs/ks.yaml.j2 for steps).
apiVersion: v1
kind: Secret
metadata:
  name: cnpg-backup-secret
  namespace: database-system
type: Opaque
stringData:
  ACCESS_KEY_ID: "#{ seaweedfs_s3_access_key_id }#"
  ACCESS_SECRET_KEY: "#{ seaweedfs_s3_secret_access_key }#"
  AWS_REGION: "us-east-1"
  AWS_ENDPOINT: "http://seaweedfs-filer.storage.svc.cluster.local:8333"
