---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: flux-webhook-ratelimit
spec:
  targetRef:
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: github-webhook
  rateLimit:
    type: Global
    global:
      rules:
        - limit:
            requests: 10
            unit: Minute
