---
apiVersion: v1
kind: Secret
metadata:
  name: wg-easy-secret
  namespace: network
stringData:
  admin-password: "#{ wg_easy_admin_password }#"
  server-private-key: "#{ wg_easy_server_private_key }#"

