---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: nextcloud-html-backup
  namespace: cloud
spec:
  sourcePVC: nextcloud
  trigger:
    schedule: "0 1 * * *"  # Daily at 1 AM
  restic:
    repository: nextcloud-html-restic-secret
    retain:
      daily: 7      # Last week
      weekly: 8     # Last 2 months
      monthly: 6    # Last 6 months
    copyMethod: Snapshot
    storageClassName: longhorn
    volumeSnapshotClassName: longhorn
    capacity: 10Gi
    accessModes:
      - ReadWriteOnce
    pruneIntervalDays: 7
    cacheCapacity: 2Gi
    cacheStorageClassName: longhorn
    cacheAccessModes:
      - ReadWriteOnce
    moverResources:
      limits:
        memory: 1Gi
      requests:
        cpu: 50m
        memory: 512Mi
    moverSecurityContext:
      runAsNonRoot: true
      runAsUser: 65534
      fsGroup: 65534
      seccompProfile:
        type: RuntimeDefault
