---
apiVersion: v1
kind: Secret
metadata:
  name: woodpecker-server-data-restic-secret
  namespace: woodpecker
type: Opaque
stringData:
  RESTIC_REPOSITORY: s3:http://seaweedfs-filer.storage.svc.cluster.local:8333/volsync-backups/woodpecker-server-data
  RESTIC_PASSWORD: "#{ volsync_restic_password }#"
  AWS_ACCESS_KEY_ID: "#{ volsync_s3_access_key }#"
  AWS_SECRET_ACCESS_KEY: "#{ volsync_s3_secret_key }#"
