---
# S3 credentials for CloudNativePG to backup PostgreSQL clusters to Garage.
# CNPG uses these credentials to connect to the Garage S3 API.
#
# Requires garage_s3_access_key_id and garage_s3_secret_access_key to be set
# in cluster.yaml after Garage bootstrap (see garage/ks.yaml.j2 for steps).
apiVersion: v1
kind: Secret
metadata:
  name: cnpg-backup-secret
  namespace: database-system
type: Opaque
stringData:
  ACCESS_KEY_ID: "#{ garage_s3_access_key_id }#"
  ACCESS_SECRET_KEY: "#{ garage_s3_secret_access_key }#"
  AWS_REGION: "garage"
  AWS_ENDPOINT: "http://garage-s3.storage.svc.cluster.local:3900"
