---
apiVersion: v1
kind: Secret
metadata:
  name: woodpecker-server-secret
stringData:
  # OAuth credentials from Forgejo
  gitea-client-id: "#{ woodpecker_oauth_client_id }#"
  gitea-client-secret: "#{ woodpecker_oauth_client_secret }#"
  # Agent authentication secret
  agent-secret: "#{ woodpecker_agent_secret }#"
