machine:
  kubelet:
    extraArgs:
      allowed-unsafe-sysctls: "net.ipv4.conf.all.src_valid_mark,net.ipv4.ip_forward"
    extraConfig:
      serializeImagePulls: false
    nodeIP:
      validSubnets:
        - #{ node_cidr }#
